.form {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    margin-bottom: 5px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    padding: 4px;

    &:focus-visible {
      outline: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    button {
      border: 0;
      border-radius: 4px;
      color: white;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .back {
      background: #6d6d6d;
      padding: 5px 10px;
    }

    .save {
      background: #03931b;
    }
  }

  .error {
    font-size: 12px;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 97%;
    padding: 3px 0 0 8px;
    margin-bottom: 2px;
  }
}
